*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    font-weight: 500;
    padding: 20px;
    text-align: center;
    color: rgb(46, 10, 10);
    background-color: beige;
}
.card{
    margin: 20px auto;
    padding: 20px;
    width: 550px;
    background-color: #ffda77;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    text-align: center;
}
.card h2,h3{
    font-weight: 500;
}